<div class="container">
    <% if flash[:error] %>
        <div class="card-panel col s6">
            <p>
                <span><%= flash[:error] %></span>
            </p>
        </div>
    <% end %>
    <div class="card-panel col s12">
        <form action="/search/" method="GET">
            <div class="input-field">
                <input id="search" name="search" type="search" required>
                <label for="search"><i class="material-icons left">search</i>Search by Name</label>
            </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col s12 m12 l6">
            <h4 class="center">Newest Posts</h4>
            <% @posts.first(5).reverse.each do |post| %>
                <div class="card-panel hoverable">
                        <div class="green-text ">
                            <%="#{post.place.name.capitalize}"%> @ <%="#{get_address(post)}"%>
                        </div>
                        <div class="content ">
                            <%="#{post.wait_time} minute wait"%>
                        </div>
                    </div> 
                <% end %>
        </div>
        <div class="col s12 m12 l6">
            <h4 class="center">Newest Places</h4>
            <% @place.first(5).reverse.each do |place| %>
                <div class="card-panel hoverable">
                    <div class="green-text">
                        <%="#{place.name.capitalize}" %>
                    </div>
                    <div class="content ">
                        <%="#{place.address}" %>
                    </div>
                </div>
                <% end %>
        </div>
    </div>
</div>
