<div class="row">
    <div class="col s12 m12 l3 offset-l3">
        <ul class="collapsible" data-collapsible="accordion">
            <% @place.each do |place| %>
                <li>
                  <div class="collapsible-header"><%= "#{place.name.capitalize}" %></div>
                  <div class="collapsible-body"><h6><%= "#{place.address}" %></h6></div>
                </li>
            <% end %>
        </ul>
    </div>
    <div class="col s12 m12 l3">
        <ul class="collapsible" data-collapsible="accordion">
            <% @posts.each do |posts| %>
                <li>
                    <div class="collapsible-header"><%= "#{Place.find(posts.place_id).name.capitalize}" %><span id="posts_type"><%= "  #{posts.wait_time} minutes" %></span></div>
                    <div class="collapsible-body"><h6><%= "#{Place.find(posts.place_id).address}" %></h6><p><%="#{posts.people_in_line}"%></p></div>
                </li>
            <% end %>
        </ul>
    </div>
</div>
