<div class="container">
    <div class="card-panel col s12">
        <form action="/search/:search_term" method="POST">
            <div class="input-field">
                <input id="search" name="search" type="search" required>
                <label for="search"><i class="material-icons left">search</i>Search by Name</label>
            </div>
        </form>
    </div>
    <div class="card-panel">
        <% @place.each do |place| %>
            <div class="row">
        	<div class="valign-wrapper">
                <div class="col s12 l6">
                    <div class="card-panel">
                        <div class="green-text">
                            <%= "#{place.name.capitalize}" %>
                        </div>
                        <% if place.address == nil %>
                            <%="Address Not Available"%>
                        <% else %>
                        	<%="#{place.address}" %>
                        <% end %>
                    </div>
                </div>
                <div class="col l1">
                	<div class="valign left green-text"><i class="material-icons right">send</i></div>
                </div>
                <div class="col s12 l5">
                	<div class="card-panel">
                    	<div class="green-text">
                    		<% if get_last_post(place) == nil %>
                            	<%="No posts have been made about this place yet!"%>
                        	<% else %>
                        		<%= "There are #{get_last_post(place).wait_time} minutes of line." %>
                        	<% end %>
                    		
                    	</div>
                		
                	</div>
                </div>
            </div>
            </div>
            <% end %>
    </div>
</div>
</div>
</div>
